*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{font-family: verdana;}
  
  header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }

  .wrapper{
    flex-direction: column;
    display: flex;
  }

  /* .wrapper video {
    position:fixed;
    top:40%;
    left:20%;
    transform: translateX(-40%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;

  } */
  video {  
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .homeText{
    /* width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    margin-top: 700px; */
    display: flex;
    align-items: center;
    justify-content: center;

  }


  .wel-mess{
    color: white;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .wel-mess-2{
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
  
  .overlay{
    background-color: rgba(0,0,0,0.35);
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;

  }

  .btn-general{
    border-radius: 28px;
    font-size: large;
    margin: 0 6px;
    padding: 12px 46px 12px 46px;
    transition: all 0.5s;
    background-color: rgba(34, 37, 61, 0.7);
    line-height: 3;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }
