.iDrink {
    margin: 10px 50px 10px 50px;
}

.beforeaheader {
  margin-top: 10px;  

}

.instruction {
    margin-top: 20px
}

.left {
    color:red
}

.right {
    color: pink;
}

.drink-text {
    margin-top: 10px;
}
