.iDrink {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.beforeaheader {
  margin-top: 10px;  

}

.instruction {
    margin-top: 20px
}

.left {
    color:red
}

.right {
    color: pink;
}

.drink-text {
    margin-top: 10px;
}

.gridIng{
    display: flex;
}

.gridIngCol{
    flex: 50%;

  
}

/* .centerimg{
    width: 20%;
  margin-left: 40%;
  margin-right: 70%;
} */
